doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body 
        h2 Reestablecer tu Password 
        p Hola, has solicitado cambiar tu password, has click en el siguiente enlace para poder actualizarlo. Este enlace es temporal, si expira solicita uno nuevo.
        a(href=`${resetUrl}`) Ir a cambiar el password 
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este correo, puedes ignorarlo 